## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv").drop(columns='Unnamed: 0')
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,lagoa,PT,39.0500,-27.9833,68.65,63,63,12.15,broken clouds
1,ribeira grande,PT,38.5167,-28.7000,70.05,68,38,11.30,scattered clouds
2,ushuaia,AR,-54.8000,-68.3000,40.66,87,75,27.63,moderate rain
3,jamestown,US,42.0970,-79.2353,67.59,73,1,2.95,clear sky
4,lambarene,GA,-0.7001,10.2406,74.07,91,100,3.51,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
minTemp = float(input('What is the minimum temperature you would for your vacation? '))
maxTemp = float(input('What is the maximum temperature you would for your vacation? '))

What is the minimum temperature you would for your vacation? 74
What is the maximum temperature you would for your vacation? 85

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
df = city_data_df.loc[(city_data_df['Max Temp'] <= maxTemp) & (city_data_df['Max Temp'] >= minTemp)] 
df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,lambarene,GA,-0.7001,10.2406,74.07,91,100,3.51,light rain
7,zhob,PK,31.3411,69.4481,76.78,49,0,0.74,clear sky
15,bathsheba,BB,13.2167,-59.5167,81.21,74,20,1.14,few clouds
18,kapaa,US,22.0752,-159.3190,82.38,77,75,5.99,broken clouds
20,kendari,ID,-3.9450,122.4989,74.23,97,100,3.62,overcast clouds
...,...,...,...,...,...,...,...,...,...
674,esna,EG,25.2934,32.5540,80.62,16,6,5.84,clear sky
679,sisophon,KH,13.5859,102.9737,75.38,93,100,3.78,heavy intensity rain
681,pizarro,CO,4.9533,-77.3660,78.75,86,78,6.89,light rain
682,balabac,PH,7.9868,117.0645,82.11,77,79,4.38,broken clouds
685,grandview,US,38.8858,-94.5330,84.31,63,1,1.01,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
df.count()

City                   210
Country                210
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,lambarene,GA,74.07,light rain,-0.7001,10.2406,
7,zhob,PK,76.78,clear sky,31.3411,69.4481,
15,bathsheba,BB,81.21,few clouds,13.2167,-59.5167,
18,kapaa,US,82.38,broken clouds,22.0752,-159.3190,
20,kendari,ID,74.23,overcast clouds,-3.9450,122.4989,
31,faanui,PF,77.90,light rain,-16.4833,-151.7500,
32,daru,PG,77.97,overcast clouds,-9.0763,143.2092,
36,huilong,CN,78.98,broken clouds,31.8111,121.6550,
38,sena madureira,BR,76.23,broken clouds,-9.0656,-68.6569,
42,jacksonville beach,US,80.73,broken clouds,30.2947,-81.3931,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for i, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']

    # 6c. Get latitude and longitude from DataFrame
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    res = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[i,'Hotel Name'] = res['results'][0]['name']
    except:
        print('No Hotel found... skipping.')

No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.
No Hotel found... skipping.

In [12]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,lambarene,GA,74.07,light rain,-0.7001,10.2406,Le Refuge
7,zhob,PK,76.78,clear sky,31.3411,69.4481,ROOM # 105 DUBAI HOTEL ZHOB
15,bathsheba,BB,81.21,few clouds,13.2167,-59.5167,Atlantis Hotel
18,kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,kendari,ID,74.23,overcast clouds,-3.9450,122.4989,Hotel Wixel
...,...,...,...,...,...,...,...
674,esna,EG,80.62,clear sky,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
679,sisophon,KH,75.38,heavy intensity rain,13.5859,102.9737,Pyramid Hotel
681,pizarro,CO,78.75,light rain,4.9533,-77.3660,Hotel Limonar
682,balabac,PH,82.11,broken clouds,7.9868,117.0645,Sing and Swing Lodge
685,grandview,US,84.31,clear sky,38.8858,-94.5330,Holiday Inn Express & Suites Kansas City-Grand...

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [14]:
# 8a. Create the output File (CSV)
output_data_file = ('WeatherPy_')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Country}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))