## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,15,bathsheba,BB,81.21,few clouds,13.2167,-59.5167,Atlantis Hotel
1,18,kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,36,huilong,CN,78.98,broken clouds,31.8111,121.6550,Hilton Garden Inn Qidong
3,42,jacksonville beach,US,80.73,broken clouds,30.2947,-81.3931,Courtyard by Marriott Jacksonville Beach Ocean...
4,46,chillicothe,US,82.89,clear sky,39.3331,-82.9824,Holiday Inn Express Chillicothe East

In [40]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [41]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'hamilton']
vacation_end = vacation_df.loc[vacation_df['City'] == 'havelock']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'chillicothe']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'clarksburg'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'charlottesville']

In [60]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
20,156,charlottesville,US,79.47,clear sky,38.0293,-78.4767,Hampton Inn & Suites Charlottesville-At The Un...

In [61]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.Lat.values[0],vacation_start.Lng.values[0]
end = vacation_end.Lat.values[0],vacation_end.Lng.values[0]
stop1 = vacation_stop1.Lat.values[0],vacation_stop1.Lng.values[0]
stop2 = vacation_stop2.Lat.values[0],vacation_stop2.Lng.values[0]
stop3 = vacation_stop3.Lat.values[0],vacation_stop3.Lng.values[0]

In [62]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING') 

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,271,hamilton,US,82.24,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
1,553,havelock,US,80.83,clear sky,34.8791,-76.9013,Sherwood Motel
2,46,chillicothe,US,82.89,clear sky,39.3331,-82.9824,Holiday Inn Express Chillicothe East
3,621,clarksburg,US,78.91,clear sky,39.2807,-80.3445,Greenbrier Motel & Restaurant
4,156,charlottesville,US,79.47,clear sky,38.0293,-78.4767,Hampton Inn & Suites Charlottesville-At The Un...

In [66]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [68]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))